 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

.header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}


/* Ajuste pagina principal */
.content{
    max-width: 49rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin: auto;
    text-align: center;
}
.header-content{
    z-index: 2;
}

.header-content h1{
    font-size: 70px;
    margin-bottom: 0;
}

.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.logo{
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 100;
}

/* Ajustar tamaño de la interfaz */
.nav{
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
/* Ajustar tamaño de la imagen del logo*/
.logo img{
    height: 80px;
}

.menu{
    display:flex;
}

.menu li{
    list-style: none;
    margin: 10px
}

.menu li a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5 ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

/* Catalogo */

.button-add{
    border: none;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 6px 15px;
    background-color: #000;
    color: #fff;
    border: 2 solid #000;
    transition-duration: 0.4s;
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.button-add:hover{
    background-color: rgb(102, 101, 101);
    color: rgb(255, 255, 255)
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #fff
}

.product-container{
    margin-left: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.product-container img{
    width: 300px;
}


/* Ajuste de fondo de inicio*/
.header-video { 
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden    ;
}

/* Ajuste de overlay en pagina principal */
.header-overlay { 
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #28292c;
    z-index: 1;
    opacity: .60;
}

.header-overflow{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #28292c;
    z-index: 1;
    opacity: .60;
}

